body {
    /*font-family: 'ralewayregular', Arial, sans-serif;*/
    font-family: 'ralewaymedium', Arial, sans-serif;
}


/*main container*/

.main_width {
    width: 1050px;
    /*width: 1200px;*/
    height: 100%;
    margin: auto;
    /*border: 1px solid red;*/
}

.regularFont {
    font-family: 'ralewayregular', Arial, sans-serif;
}

.lightFont {
    font-family: 'ralewaylight', Arial, sans-serif;
}

.boldFont {
    font-family: 'ralewaybold', Arial, sans-serif;
}


/*header, menu*/

header {
    width: 100%;
    height: 50px;
    background-color: black;
    font-weight: bold;
}

header .main_width {
    width: 1050px;
    margin-top: 0;
    position: relative;
}

h1 {
    color: white;
    font-size: 16px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    position: absolute;
    top: 13px;
    left: 0;
}

#menulist {
    position: absolute;
    right: 0;
    top: 13px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
}

#menulist li {
    color: white;
    display: inline;
    padding: 0;
    margin-left: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    height: 40px;
}

#menulist li:first-child {
    position: relative;
    display: inline-block;
}


/*show dropdown menu on hover*/

#menulist li:first-child:hover .sub_menu {
    display: block;
}


/*submenu*/

#menulist .sub_menu {
    position: absolute;
    display: none;
    z-index: 10;
    top: 50px;
    background: black;
    padding: 5px 0;
}

#menulist .sub_menu::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 13px solid black;
    top: -13px;
    right: 88px;
    ;
}

#menulist .sub_menu li {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: initial;
    margin-right: 25px;
    padding: 8px 0;
    height: 15px;
}

#menulist span {
    color: white;
    /*font-weight: normal*/
}

span {
    color: rgb(36, 186, 160);
    /*sekcja pierwsza paragraf*/
    text-transform: uppercase;
    font-family: 'ralewaybold', Arial, sans-serif;
}


/*section 1, carousel*/

#section_1_carousel .main_width {
    height: 510px;
    position: relative;
}

#section_1_carousel {
    width: 100%;
    /*#D1D0D8*/
    height: 510px;
    background-color: white;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 86%, rgba(219, 219, 219, 1) 93%, rgba(209, 209, 209, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(86%, rgba(227, 227, 227, 1)), color-stop(93%, rgba(219, 219, 219, 1)), color-stop(100%, rgba(209, 209, 209, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 86%, rgba(219, 219, 219, 1) 93%, rgba(209, 209, 209, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 86%, rgba(219, 219, 219, 1) 93%, rgba(209, 209, 209, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 86%, rgba(219, 219, 219, 1) 93%, rgba(209, 209, 209, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(227, 227, 227, 1) 86%, rgba(219, 219, 219, 1) 93%, rgba(209, 209, 209, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=0);
}

.slider {
    position: absolute;
    left: 0;
    top: 85px;
    width: 470px;
    height: 337px;
    overflow: hidden;
}

.slider ul {
    width: 1450px;
}

.slider ul li {
    width: 470px;
    height: 337px;
    display: inline-block;
}

.photo_chair {
    width: 100%;
}

.slider .orange {
    width: 80%;
    margin: 10%;
}

.sit_on_paragraph {
    width: 500px;
    height: 338px;
    position: relative;
    right: -450px;
    top: 85px;
    display: inline-block;
}

.sit_on_paragraph h1:first-child {
    font-size: 35px;
    color: black;
    margin: 10px;
    position: absolute;
    text-align: center;
    left: 75px;
    top: 30px;
}

.sit_on_paragraph p:first-of-type {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    bottom: 90px;
    margin: 30px;
    text-align: center;
    line-height: 25px;
}

#button_1 {
    border-radius: 10px;
    background-color: rgb(36, 186, 160);
    height: 50px;
    width: 277px;
    position: absolute;
    left: 110px;
    bottom: 30px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.smaller_1 {
    position: absolute;
    right: 0;
}

.smaller_2 {
    position: absolute;
    left: 0;
}

.tag {
    width: 50px;
    height: 50px;
    font-size: 60px;
    color: rgb(36, 186, 160);
    text-align: center;
    padding-bottom: 10px;
    /*border: 1px solid red;*/
    bottom: 230px;
    cursor: pointer;
}


/*section 2, 2 pics + article*/

#section_2 {
    height: 350px;
    background-color: white;
}

#section_2 .main_width {
    height: 350px;
    position: relative;
    /*padding-top: 25px;*/
}

#finds_all_inputs {
    height: 250px;
    width: 330px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
    margin-top: 30px;
}

#section_2 .main_width img:first-child {
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

#section_2 .main_width img:nth-child(2) {
    float: left;
    margin-left: 30px;
}

.chairs_images {
    padding-top: 30px;
}

#clair_div {
    height: 64px;
    width: 330px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 175px;
}

#div_green_1 {
    position: absolute;
    top: 210px;
    left: 13px;
}

#margarita_div {
    height: 64px;
    width: 330px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 175px;
    left: 359px;
}

#div_green_2 {
    position: absolute;
    top: 210px;
    left: 373px;
}

#margarita_div p, #clair_div p {
    margin-top: 15px;
    margin-left: 14px;
    font-weight: bold;
}

#text_in_third_div {
    margin: 21px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

#div_green {
    position: absolute;
    top: 17px;
}

.greenDiV {
    height: 7px;
    width: 140px;
    background-color: rgb(36, 186, 160);
}


/*hide img content*/

.img_wrapper:hover .hide {
    display: none;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

#all_inputs_first_p {
    line-height: 20px;
}

#all_inputs_second_p {
    line-height: 20px;
}


/*section 3, price list*/

#section_3 {
    width: 100%;
    height: 725px;
    background-color: rgb(241, 241, 241);
}

#section_3 .main_width {
    padding-top: 47px;
}

.green_line {
    position: relative;
    margin-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: bold;
}

#div_green_3 {
    height: 7px;
    width: 317px;
    background-color: rgb(36, 186, 160);
    position: absolute;
    top: 27px;
}


/*section 3, basic plan*/

.plans {
    height: 500px;
    width: 330px;
    background-color: rgb(249, 249, 249);
    border: 2px solid rgb(214, 213, 213);
    box-sizing: border-box;
    position: relative;
    bottom: -40px;
    text-align: center;
    padding-top: 32px;
    display: inline-block;
    border-radius: 3px;
}

.circle_dot {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(194, 194, 194);
    border: 14px solid white;
    box-shadow: 0px 0 0 2px rgb(214, 213, 213);
    position: absolute;
    top: -35px;
    left: 135px;
}

.prices>p span {
    font-size: 25px;
    font-family: Arial, sans-serif;
    /*font-weight: bold;*/
}

.price_circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgb(214, 213, 213);
    color: rgb(194, 194, 194);
    font-weight: bold;
    position: absolute;
    top: 82px;
    left: 96px;
}

.price_circle p:first-child {
    font-size: 51px;
    margin-top: 23px;
}

.price_circle p:nth-child(2) {
    font-size: 15px;
    margin-top: 10px;
}

sup {
    font-size: 12px;
    vertical-align: top;
}

.plans ul:first-of-type {
    position: absolute;
    font-size: 23px;
    width: 100%;
    top: 245px;
}

.plans li:nth-child(odd) {
    color: rgb(147, 147, 147);
    background-color: rgb(228, 228, 228);
    line-height: 44px;
}

.plans li:nth-child(even) {
    color: rgb(120, 120, 120);
    background-color: rgb(241, 241, 241);
    line-height: 44px;
}

.button_2 {
    width: 125px;
    height: 35px;
    background-color: rgb(36, 186, 160);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    left: 100px;
    cursor: pointer;
}


/*middle plan - standard plan*/

.diffrent {
    margin: 0 25px 0 26px;
    background-color: rgb(36, 186, 160);
    border: 2px solid rgb(36, 186, 160);
    border-radius: 3px;
}

.diffrent .circle_dot {
    background-color: white;
    border: 14px solid rgb(36, 186, 160);
    box-shadow: none;
}

.diffrent span {
    color: white;
}

.diffrent .price_circle {
    color: rgb(36, 186, 160);
    border: none;
}

.diffrent li:nth-child(odd) {
    background-color: white;
}

.diffrent li:nth-child(even) {
    color: rgb(158, 158, 158);
}

.diffrent input {
    background-color: white;
    color: rgb(36, 186, 160);
}

.plans:hover {
    box-shadow: 0px 0px 20px black;
}


/*section makeChair*/

#makeChair {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
    padding: 47px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right p {
    width: 317px;
    text-align: right;
}

.form {
    clear: both;
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.dropdown_list {
    width: 320px;
    height: 50px;
    border: 1px solid rgb(36, 186, 160);
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    margin-bottom: 30px;
}

.dropdown_list .list_label {
    font-size: 30px;
    text-transform: initial;
    color: rgb(214, 213, 213);
}

.dropdown_list .list_arrow {
    position: absolute;
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid rgb(36, 186, 160);
    top: 16px;
    right: 20px;
    transform: rotate(180deg);
    cursor: pointer;
}

.dropdown_list .list_content {
    width: 320px;
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    border: 1px solid rgb(214, 213, 213);
    left: -1px;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.list_content li {
    padding: 10px 12px;
    background-color: white;
    color: rgb(120, 120, 120);
}

.list_content li:hover {
    background-color: rgb(241, 241, 241);
}

.check_box {
    box-sizing: border-box;
    height: 52px;
    width: 52px;
    border: 1px solid rgba(36, 186, 160, .5);
    border-radius: 1px;
    padding-top: 7px;
    display: inline-block;
    margin-right: 20px;
    background-color: white;
    cursor:pointer;
}

.check_box img {
    display: none;
}

.transport_label {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
    font-size: 30px;
    color: rgb(147, 147, 147);
}

.section_wrapper {
    width: 320px;
}

.section_wrapper img {
    width: 100%;
}


/*order panel*/

.left_panel, .right_panel, .sum_label, .sum {
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
}

.left_panel {
    width: 200px;
    height: 160px;
    color: rgb(36, 186, 160);
    font-size: 20px;
    border-right: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
    display: inline-block;
    float: left;
}

.sum_label, .left_panel p:not(.chair_name) {
    color: rgb(147, 147, 147);
}

.left_panel p, .right_panel p {
    margin-bottom: 16px;
}

.right_panel {
    width: 120px;
    height: 159px;
    float: left;
    font-size: 20px;
    color: rgb(36, 186, 160);
    border-bottom: 1px solid rgb(241, 241, 241);
    text-align: right;
}

.order {
    border-radius: 3px;
}

.sum_label {
    clear: both;
    width: 200px;
    box-sizing: border-box;
    font-size: 22px;
    display: inline-block;
}

.sum {
    width: 120px;
    display: inline-block;
    float: right;
    font-size: 22px;
    color: rgb(36, 186, 160);
    text-align: right;
}

.send_order {
    clear: both;
    width: 280px;
    height: 50px;
    color: white;
    background-color: rgb(36, 186, 160);
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 2px;
    border-color: rgb(36, 186, 160);
    margin-top: 33px;
    margin-left: 20px;
    cursor: pointer;
}


/*section 4, contact*/

#section_4 {
    width: 100%;
    height: 560px;
    background-color: white;
}

#section_4 .main_width {
    box-sizing: border-box;
    position: relative;
    padding-top: 47px;
}

form input {
    height: 65px;
    width: 630px;
}

.formIn {
    box-sizing: border-box;
    border: 1px solid rgba(36, 186, 160, .5);
    padding: 15px;
    font-size: 31px;
    color: rgb(194, 194, 194);
    border-radius: 1px;
    margin-bottom: 15px;
    margin-top: 10px;
}

textarea {
    height: 185px;
    width: 630px;
    resize: none;
}


/*red_chair and agreement/send*/

.red_chair_wrapper {
    box-sizing: border-box;
    height: 390px;
    width: 365px;
    /*border: 1px solid red;*/
    position: absolute;
    top: 98px;
    right: 0px;
    padding: 0px 10px 5px 10px;
}

.red_chair_wrapper>img {
    margin-left: 40px;
    width: 90%;
}

.red_chair_wrapper div:first-of-type {
    height: 52px;
    width: 52px;
    border: 1px solid rgba(36, 186, 160, .5);
    border-radius: 1px;
    box-sizing: border-box;
    padding-top: 7px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.red_chair_wrapper p:first-of-type {
    color: rgb(194, 194, 194);
    line-height: 22px;
    font-size: 19px;
    margin-top: 6px;
}

.clearfix {
    clear: both;
}

.button_3 {
    height: 68px;
    width: 340px;
    background-color: rgb(36, 186, 160);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 33px;
    margin-top: 44px;
    margin-left: 2px;
    cursor: pointer;
}


/*footer, logo*/

footer {
    width: 100%;
    height: 90px;
    background-color: white;
}

footer .main_width {
    box-sizing: border-box;
    /*padding-top: 30px;*/
    letter-spacing: 1px;
}

footer p:first-of-type {
    color: rgb(158, 158, 158);
    float: left;
    padding-top: 30px;
}

.logos {
    float: right;
    margin-top: 15px;
}

footer p:last-of-type {
    float: right;
    color: rgb(155, 155, 155);
    font-size: 18px;
    margin-left: 70px;
    padding-top: 30px;
}

footer span:first-of-type {
    color: rgb(155, 155, 155);
    font-weight: bold;
}
